<div class="sectionheader">
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbarpm w-nav">
    <div class="containerheader w-container"><a href="index.html" class="logoimg w-nav-brand"><img
      src="../../assets/images/PourmiamTrans.png" width="90" height="60"
      srcset="../../assets/images/PourmiamTrans-p-500.png 500w, ../../assets/images/PourmiamTrans.png 945w" sizes="90px"
      class="logoimg"></a>
      <div class="text_logo">PourMiam&#x27;</div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a routerLink="" routerLinkActive="active" class="accueil_button w-nav-link">Accueil</a>
        <a routerLink="/login" routerLinkActive="active" class="connexion_button w-nav-link"
           data-ix="signininterraction" [hidden]='ShowConnexion != 0'>Connexion</a>
        <a routerLink="/profil" routerLinkActive="active" class="connexion_button w-nav-link"
           data-ix="signininterraction" [hidden]='ShowConnexion != 1'>Mon profil</a>
        <a routerLink="" (click)="disconnect()" routerLinkActive="active" class="connexion_button w-nav-link"
           data-ix="signininterraction" [hidden]='ShowConnexion != 1'>Deconnexion</a>
        <a routerLink="/inscription" routerLinkActive="active" class="inscription_button w-nav-link"
           data-ix="signupinterraction" [hidden]='ShowConnexion != 0'>Je m&#x27;inscris</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-4 w-container" [hidden]="showDiv != 1">
  <div class="div-block-5">
    <h1 class="heading-15">Inscriptions</h1>
    <div class="form-block-2 w-form">
      <div *ngIf="errorServer" class="text-mdp-instructions" style="color: red;">
        {{errorServer}}
      </div>
      <form id="email-form" name="email-form" data-name="Email Form" (submit)='onSubmit()' class="form-3"
            #inscriptionForm="ngForm" ngNativeValidate>
        <label for="E_mail">E-mail</label>
        <input type="email" class="w-input" maxlength="256" name="E_mail" data-name="E_mail"
               placeholder="Entrer votre e-mail" id="E_mail" required=""
               pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" [(ngModel)]="inscription.email" autocomplete="off">
        <div class="w-row">
          <div class="w-col w-col-6">
            <label for="Nom">Nom :</label>
            <input type="text" class="w-input" maxlength="256" name="Nom" data-name="Nom" placeholder="Entrer votre nom"
                   id="Nom" required="" [(ngModel)]="inscription.lastname" autocomplete="off">
          </div>
          <div class="w-col w-col-6">
            <label for="Prenom">Prénom :</label>
            <input type="text" class="w-input" maxlength="256" name="Prenom" data-name="Prenom"
                   placeholder="Entrer votre prénom" id="Prenom" required="" [(ngModel)]="inscription.firstname" autocomplete="off">
          </div>
        </div>
        <label for="Password">Mot de passe :</label>
        <input type="password" class="w-input" maxlength="256" name="Password" data-name="Password"
               placeholder="Entrer votre mot de passe" id="Password" required="" [(ngModel)]="Password" autocomplete="off">
        <label for="VPassword">Vérification Mot de passe :</label>
        <input type="password" class="w-input" maxlength="256" name="VPassword" data-name="VPassword"
               placeholder="Re-entrer votre mot de passe" id="VPassword" required="" [(ngModel)]="VPassword" autocomplete="off">
        <input type="submit" value="Je m'inscris" data-wait="Un instant..." class="submit-button-3 w-button">
      </form>
    </div>
  </div>
</div>
<div class="container-4 w-container" [hidden]="showDiv != 2">
  <div class="div-block-5">
    <h1 class="heading-15"><strong>Vous y êtes presque</strong><br></h1>
    <div class="w-row">
      <div class="column-4 w-col w-col-6">
        <div class="div-block-6"><img src="../../assets/images/5b30ad01d4bf81203f0b2c3b_btn-mail3.png" class="image-6">
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="text-block-12">Un e-mail de confirmation vous a été envoyé à : {{inscription.email}} (Celà peut
          prendre quelques minutes)
        </div>
        <a href="mailto:contact.pourmiam@gmail.com?subject=Demande de contact(Je n'ai pas reçu de mail d'inscription)" class="link">Je
          n&#x27;ai pas reçu d&#x27;e-mail</a></div>
    </div>
  </div>
</div>
<div class="container-4 w-container" [hidden]="showDiv != 3">
  <div class="div-block-7" >
    <h1 class="heading-15"><strong>FÉLICITATION !</strong><br></h1>
    <div class="text-block-12">Votre inscription est à present validée !! A bientôt sur notre site PourMiam'
    </div>
  </div>
</div>
<footer>
  <div class="section">
    <div class="div-block-3">
      <div class="containerfindepage w-container">
        <div class="w-row">
          <div class="w-col w-col-6">
            <div class="div-block-12">Association @JoRiBo<br>
              48 Rue Camille Desmoulins, 92130 Issy-les-Moulineaux</div></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"><a href="mailto:contact.pourmiam@gmail.com?subject=Demande de contact"
                                        class="link-2">Contactez-nous<br></a></div>
        </div>
      </div>
    </div>
  </div>
</footer>

