<div class="sectionheader">
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbarpm w-nav">
    <div class="containerheader w-container"><a href="index.html" class="logoimg w-nav-brand"><img
      src="../../assets/images/PourmiamTrans.png" width="90" height="60"
      srcset="../../assets/images/PourmiamTrans-p-500.png 500w, ../../assets/images/PourmiamTrans.png 945w" sizes="90px"
      class="logoimg"></a>
      <div class="text_logo">PourMiam&#x27;</div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a routerLink="" routerLinkActive="active" class="accueil_button w-nav-link">Accueil</a>
        <a routerLink="/login" routerLinkActive="active" class="connexion_button w-nav-link" data-ix="signininterraction" [hidden]='ShowConnexion != 0'>Connexion</a>
        <a routerLink="/profil" routerLinkActive="active" class="connexion_button w-nav-link" data-ix="signininterraction" [hidden]='ShowConnexion != 1'>Mon profil</a>
        <a routerLink="" (click)="disconnect()" routerLinkActive="active" class="connexion_button w-nav-link" data-ix="signininterraction" [hidden]='ShowConnexion != 1'>Deconnexion</a>
        <a routerLink="/inscription" routerLinkActive="active" class="inscription_button w-nav-link" data-ix="signupinterraction" [hidden]='ShowConnexion != 0'>Je m&#x27;inscris</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>
<p>
  profil works!
</p>
<footer>
  <div class="section">
    <div class="div-block-3">
      <div class="containerfindepage w-container">
        <div class="w-row">
          <div class="w-col w-col-2">
            <div></div>
          </div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"><a href="mailto:contact.pourmiam@gmail.com?subject=Demande de contact"
                                        class="link-2">Contactez-nous<br></a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
