<div class="sectionheader">
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbarpm w-nav">
    <div class="containerheader w-container"><a href="index.html" class="logoimg w-nav-brand"><img
      src="../../assets/images/PourmiamTrans.png" width="90" height="60"
      srcset="../../assets/images/PourmiamTrans-p-500.png 500w, ../../assets/images/PourmiamTrans.png 945w" sizes="90px"
      class="logoimg"></a>
      <div class="text_logo">PourMiam&#x27;</div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a routerLink="" routerLinkActive="active" class="accueil_button w-nav-link">Accueil</a>
        <a routerLink="/login" routerLinkActive="active" class="connexion_button w-nav-link"
           data-ix="signininterraction">Connexion</a>
        <a routerLink="/inscription" routerLinkActive="active" class="inscription_button w-nav-link"
           data-ix="signupinterraction">Je m&#x27;inscrit</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-4 w-container">
  <div class="div-block-5">
    <h1 class="heading-15">Connexions</h1>
    <div class="form-block-2 w-form">
      <div *ngIf="errorServer" class="text-mdp-instructions" style="color: red;">
        {{errorServer}}
      </div>
      <form id="email-form" name="email-form" data-name="Email Form" (submit)='onSubmit()' class="form-3" #loginForm="ngForm" ngNativeValidate>
        <label for="E_mail">E-mail</label>
        <input type="email" class="w-input" maxlength="256" name="E_mail" data-name="E_mail" placeholder="Entrer votre e-mail" id="E_mail" required="" [(ngModel)]="login.email">
        <label for="Password">Mot de passe :</label>
        <input type="password" class="w-input" maxlength="256" name="Password" data-name="Password" placeholder="Entrer votre Mot de passe" id="Password" required="" [(ngModel)]="login.password">
        <input type="submit" value="Connexion" data-wait="Un instant..." class="submit-button-3 w-button">
      </form>
    </div>
  </div>
</div>
<footer>
  <div class="section2">
    <div class="div-block-3">
      <div class="containerfindepage w-container">
        <div class="w-row">
          <div class="w-col w-col-2">
            <div></div>
          </div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"><a href="mailto:contact.pourmiam@gmail.com?subject=Demande de contact"
                                        class="link-2">Contactez-nous<br></a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
