<div class="sectionheader">
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbarpm w-nav">
    <div class="containerheader w-container"><a href="index.html" class="logoimg w-nav-brand"><img
      src="../../assets/images/PourmiamTrans.png" width="90" height="60"
      srcset="../../assets/images/PourmiamTrans-p-500.png 500w, ../../assets/images/PourmiamTrans.png 945w" sizes="90px"
      class="logoimg"></a>
      <div class="text_logo">PourMiam&#x27;</div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a routerLink="" routerLinkActive="active" class="accueil_button w-nav-link">Accueil</a>
        <a routerLink="/login" routerLinkActive="active" class="connexion_button w-nav-link"
           data-ix="signininterraction" [hidden]='ShowConnexion != 0'>Connexion</a>
        <a routerLink="/profil" routerLinkActive="active" class="connexion_button w-nav-link"
           data-ix="signininterraction"
           [hidden]='ShowConnexion != 1'>Mon profil</a>
        <a routerLink="" (click)="disconnect()" routerLinkActive="active" class="connexion_button w-nav-link"
           data-ix="signininterraction" [hidden]='ShowConnexion != 1'>Deconnexion</a>
        <a routerLink="/inscription" routerLinkActive="active" class="inscription_button w-nav-link"
           data-ix="signupinterraction" [hidden]='ShowConnexion != 0'>Je m&#x27;inscris</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>
<div class="section_recherche">
  <div class="first_container w-container">
    <div class="row-2 w-row">
      <div class="searchcolumn w-col w-col-3">
        <div>
          <h1 class="heading-6">Cuisine &amp; plats</h1>
          <div class="w-form">
            <form id="wf-form-Eat_form" name="wf-form-Eat_form" data-name="Eat_form">
              <div class="cuisine_checkbox1 w-checkbox"><input type="checkbox" id="checkbox-3" name="checkbox-3"
                                                               data-name="Checkbox 3" class="w-checkbox-input"><label
                for="checkbox-3" class="field-label w-form-label">Française</label></div>
              <div class="cuisine_checkbox2 w-checkbox"><input type="checkbox" id="checkbox-4" name="checkbox-4"
                                                               data-name="Checkbox 4" class="w-checkbox-input"><label
                for="checkbox-4" class="field-label-2 w-form-label">Italienne</label></div>
              <div class="cuisine_checkbox3 w-checkbox"><input type="checkbox" id="checkbox-5" name="checkbox-5"
                                                               data-name="Checkbox 5" class="w-checkbox-input"><label
                for="checkbox-5" class="field-label-3 w-form-label">Japonaise</label></div>
            </form>
            <div class="w-form-done"></div>
            <div class="error-message w-form-fail"></div>
          </div>
        </div>
        <h1 class="heading-5">Prix</h1>
        <div class="price">
          <div class="w-form">
            <form id="wf-form-checkboxprice_choice" name="wf-form-checkboxprice_choice"
                  data-name="checkboxprice_choice">
              <div class="price-1 w-checkbox"><input type="checkbox" id="€" data-name="€"
                                                     class="checkboxprice1 w-checkbox-input"><label for="€"
                                                                                                    class="pricelabel1 w-form-label">€</label>
              </div>
              <div class="price2 w-checkbox"><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox"
                                                    class="checkboxprice2 w-checkbox-input"><label for="checkbox"
                                                                                                   class="pricelabel2 w-form-label">€€</label>
              </div>
              <div class="price3 w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2"
                                                    data-name="Checkbox 2"
                                                    class="checkboxprice3 w-checkbox-input"><label for="checkbox-2"
                                                                                                   class="pricelabel3 w-form-label">€€€</label>
              </div>
            </form>
            <div class="w-form-done"></div>
            <div class="w-form-fail"></div>
          </div>
        </div>
      </div>
      <div class="resultcolumn w-col w-col-9">
        <h1 app-home class="heading-9">Restaurant sur </h1>
        <h1 class="heading-8">Top</h1>
        <div class="w-row">
          <div class="w-col w-col-3"></div>
          <div class="w-col w-col-3"></div>
          <div class="w-col w-col-3"></div>
          <div class="w-col w-col-3"></div>
        </div>
        <div class="div-block"></div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="section">
    <div class="div-block-3">
      <div class="containerfindepage w-container">
        <div class="w-row">
          <div class="w-col w-col-2">
            <div></div>
          </div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"><a href="mailto:contact.pourmiam@gmail.com?subject=Demande de contact"
                                        class="link-2">Contactez-nous<br></a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
