<div class="sectionheader">
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbarpm w-nav">
    <div class="containerheader w-container"><a href="index.html" class="logoimg w-nav-brand"><img
      src="../../assets/images/PourmiamTrans.png" width="90" height="60"
      srcset="../../assets/images/PourmiamTrans-p-500.png 500w, ../../assets/images/PourmiamTrans.png 945w" sizes="90px"
      class="logoimg"></a>
      <div class="text_logo">PourMiam&#x27;</div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a routerLink="" routerLinkActive="active" class="accueil_button w-nav-link">Accueil</a>
        <a routerLink="/login" routerLinkActive="active" class="connexion_button w-nav-link"
           data-ix="signininterraction" [hidden]='ShowConnexion != 0'>Connexion</a>
        <a routerLink="/profil" routerLinkActive="active" class="connexion_button w-nav-link"
           data-ix="signininterraction"
           [hidden]='ShowConnexion != 1'>Mon profil</a>
        <a routerLink="" (click)="disconnect()" routerLinkActive="active" class="connexion_button w-nav-link"
           data-ix="signininterraction" [hidden]='ShowConnexion != 1'>Deconnexion</a>
        <a routerLink="/inscription" routerLinkActive="active" class="inscription_button w-nav-link"
           data-ix="signupinterraction" [hidden]='ShowConnexion != 0'>Je m&#x27;inscris</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>
<div class="section_recherche">
  <div class="container-1 w-container">
    <h1 class="titre-acceuil">Trouver mon restaurant en quelque clics seulement ?</h1>
  </div>
  <div class="container-2 w-container">
    <div class="div_recherche">
      <div class="form-block w-form">
        <form id="email-form" name="email-form" data-name="Email Form" class="form" (submit)="searchRestaurant()" #restaurantForm="ngForm" ngNativeValidate>
          <input type="text" class="text_ville w-input" maxlength="256" name="Ville_recherche"
                 data-name="Ville_recherche" placeholder="Indiquer le code postal..." id="Ville_recherche"
                 required="" [(ngModel)]="$ville">
          <input type="submit" value="Recherche" data-wait="Un instant..." class="recherche_button w-button">
        </form>
      </div>
    </div>
  </div>
  <div class="container-3 w-container">
    <div class="row w-row">
      <div class="column w-col w-col-4">
        <div class="tips_block"><img src="../../assets/images/money-3.png" width="80" class="tips_image">
          <div class="tips_title">Des réductions pour les utilisateurs</div>
          <div class="tips_text">PourMiam&#x27; vous permet de bénéficier de réduction sur votre additions dans les
            enseigne en partenariat avec PourMiam&#x27; !
          </div>
        </div>
      </div>
      <div class="column-2 w-col w-col-4">
        <div class="wine_block"><img src="../../assets/images/wine.png" width="80" class="wine_image">
          <div class="wine_title">Trouver le meilleur endroit pour manger</div>
          <div class="wine_text">Des quantités de photos des restaurant et plats ainsi que des avis sur les restaurants
            de notre communauté Française de voyageurs
          </div>
        </div>
      </div>
      <div class="column-3 w-col w-col-4">
        <div class="handshake_block"><img src="../../assets/images/handshake.png" width="80" class="handshake_image">
          <div class="handshake_title">Travaille avec les professionnels</div>
          <div class="handshake_text">PourMiam&#x27; travaille avec les professionnels de la restauration afin de leur
            permettre une meilleur compréhension des envies de leur clientèles.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="section">
    <div class="div-block-3">
      <div class="containerfindepage w-container">
        <div class="w-row">
          <div class="w-col w-col-2">
            <div></div>
          </div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"></div>
          <div class="w-col w-col-2"><a href="mailto:contact.pourmiam@gmail.com?subject=Demande de contact"
                                        class="link-2">Contactez-nous<br></a></div>
        </div>
      </div>
    </div>
  </div>
</footer>

